header:nth-child(n){
    margin-left: 300px;
    margin-right: 300px;
}
body{
	margin: 0px;
}

nav ul{
    display:flex;
	gap: 20px;
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
a{
	color: #000;
	text-decoration: none;
}

h1{
	margin-bottom: 50px;
	margin-top: 0px;
	padding-top: 50px;
	font-family: Helvetica;
	font-style: italic;
	color: #d5a17c;
	font-size: 25px;
	
}
div.header{
	background-color:  #3c1f0a;
}
a.itw{
	color: white;
	text-decoration: none;
	font-family: Helvetica;
	font-style: italic;
	font-size: 60px;
	
}
nav a{
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-size: 15px;
}
nav ul, nav li {
    position: relative;
}

nav li::after {
    content: url(./cv03/menu_bullet.gif);
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}

nav li:hover::after {
    display: block;
	width: 50px;
	height: 50px;
}

div.info{
	background-image: url(./cv03/center_bg.gif);
	background-repeat: repeat;
}

div.info h2{
	margin-top: 0px;
	padding-top: 20px;
	font-family: Arial;
	color: #b15e23;
	font-style: normal;
	font-weight: normal;
}
div.info p{
	padding-bottom: 30px;
	font-family: Arial;
	text-align: justify;
	color: #656565;
}

h2, p {
	margin-left: 300px;
    margin-right: 300px;
}

div.pred h2{
	font-family: Arial;
	color: #b15e23;
	font-style: normal;
	font-weight: normal;
}

div.predd a{
	font-family: Arial;
	color: #3c1f0a !important;
	font-weight: bold;
}

div.predd {
	margin-left: 300px;
	margin-right: 300px;
	border-bottom: 3px dotted #b15e23;
}

div.pred p{
	font-family: Arial;
	text-align: justify;
	color: #656565;
}

table{
	margin-left:300px;
	margin-right:300px;
	border: 3px solid black;
}

.uprow th{
	border: 1px dotted black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #d5a17c;
	font-family: Arial;
	color: #656565;
	font-style: normal;
	font-weight: normal;
	text-align:center;
	padding-left: 20px;
	padding-right: 20px;
}

.downrow th{
	border: 1px outset black;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align:center;
}

.kletka{
	border: 1px outset black;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align:left !important;
	padding-right: 20px;
}

div.foot{
	background-color:  #3c1f0a;
}

dl{
	margin-left: 300px;
    margin-right: 300px;
	margin-top: 0px;
}

dl dt{
	color: white;
	font-style: normal;
	font-weight: normal;
	font-family: Arial;
	text-align: left;
	font-size: 15px;
}

dl dd a{
	color: #d5a17c;
	font-style: normal;
	font-weight: normal;
	font-family: Arial;
	text-align: right;
	font-size: 15px;
}

ul.souv{
	margin-left: 300px;
    margin-right: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
	list-style-image: url(./cv03/footer_list_bullet.gif);
}

ul.souv a{
	color: #d5a17c;
	font-style: normal;
	font-weight: normal;
	font-family: Arial;
	text-align: left;
	font-size: 15px;
}
div.kont h2{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 20px;
	font-family: Arial;
	color: white;
	font-style: normal;
	font-weight: normal;
}
div.xDDD h2{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	font-family: Arial;
	color: white;
	font-style: normal;
	font-weight: normal;
}